extends layout

block content
  // @todo - make this work
  // - if(isObjectEmpty(errors) == false)
  //   p.errorMessage= "The following errors occurred: "
  //     ul
  //       - each error in errors
  //         li=error.msg

  .col-md-10.col-md-offset-1
    .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
      form#feedback(
        action="" method="post"  
        name="feedback" 
        enctype="application/x-www-form-urlendcoded"
      )
      .row
          input#email(
            class="input" name="email" type="text" 
            value="" size="40" placeholder="Email Address"
          )
      .row
        textarea#suggestion(
          class="input" name="suggestion" 
          rows="8" cols="80" placeholder="Suggestions"
        )
      .row
        input.btn.btn-default#submit_button(type ="submit" value="Send email")
        
      div#nav
        a#left-arrow(href="/")
          i.fa.fa-hand-o-left
    p #{message}
    
